*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    /* width: 100%; */
    /* height: 5vh; */
    /* border: 1px solid red; */
}

.parent ul{
    width: 80%;
    height: 5vh;
    /* border: 1px solid green; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.parent ul li{
    list-style-type: none;
}


.parent ul li a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    /* border: 1px solid brown; */
    padding: 0 1.4em;
    /* background-image: linear-gradient(45deg, lightblue, #1c1c1c); */
    background-color: green;
    transition: background-color 1s ease;
}

.parent ul li a:hover{
    background-color: red;
    /* color: black; */
    text-decoration-line: underline;
}
