/* @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Playwrite+MX+Guides&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jacquarda+Bastarda+9+Charted&family=Underdog&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px ; */
    /* grid-template-rows: 200px 200px 200px 200px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
    /* gap: 10px; */
    /* column-gap: 10px; */
    /* row-gap: 10px; */
}


.child1{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #1c1c1c;
}

.child2{
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5; */
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    background-color: #b11c84;
}

.child3{
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; */
    grid-column: 2 /4;
    grid-row: 2 / 3;
    background-color: #1cb13c;
}

.child4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #2d117b;
}

.child5{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #a21cb1;
}

.child6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #b1551c;
}

.child7{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #1f2c6b;
}

.child8{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #026061;
}

h1{
    /* font-family: "Handjet", sans-serif; */
    /* font-family: "Handjet", sans-serif; */
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Underdog", system-ui;
}

.whatapps{
    color: green;
}